[submodule "zsh/.zsh/.zprezto"]
	path = zsh/.zsh/.zprezto
	url = https://github.com/sorin-ionescu/prezto
	branch = master
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zgen/.zgen"]
	path = zgen/.zgen
	url = https://github.com/tarjoilija/zgen.git
